@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.container1{
  width: 93%;
  display: grid;
  grid-auto-flow: dense;
  grid-template:  "1fr 1fr 1fr 1fr 1fr 1fr " 43.33vh
                  "1fr 1fr 1fr 1fr 1fr 1fr"  43.33vh ;
  column-gap: 17px;
  row-gap: 12px;
  margin-top: 37px;
  margin-left: 40px;
  cursor: pointer;
}

.MiamuraGallary h1{
  padding-left: 35px;
  padding-top: 40px;
}

.ZdislavGallary h1{
  padding-left: 35px;
  padding-top: 40px;
}
 .box {
    display: grid;
  }

.container1 .box {
  position: relative;
}

.container1 .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s; 
}


.container1 .box img:hover{
  transform: scale(0.95);
}

.container1 .box.a {
  grid-column: span 1;
}  
.container1 .box.b {
  grid-column: span 1;
} 
.container1 .box.c {
  grid-column: span 1;
} 
.container1 .box.d {
  grid-column: span 1;
}
.container1 .box.e {
  grid-column: span 1;
} 
.container1 .box.f {
  grid-column: span 1;
}
.container1 .box.g {
  grid-column: span 1;
} 
.container1 .box.h {
  grid-column: span 1;
} 
.container1 .box.i {
  grid-column: span 1;
} 
.container1 .box.j {
  grid-column: span 1;
} 
.container1 .box.k {
  grid-column: span 1;
} 
.container1 .box.l {
  grid-column: span 1;
}

@media only screen and (max-width:992px)
{
  .container1 {

      grid-template:  "1fr 1fr 1fr 1fr" 300px
                      "1fr 1fr 1fr 1fr" 300px
                      "1fr 1fr 1fr 1fr" 300px ;
  }  
   
}


@media only screen and (max-width:768px){
  .container1 {
    width: 92%;

    grid-template:  "1fr 1fr" 350px
                    "1fr 1fr" 350px
                    "1fr 1fr" 350px
                    "1fr 1fr" 350px
                    "1fr 1fr" 350px ;
    } 
}

@media only screen and (max-width:514px)
{
  .container1 {
    grid-template:  "1fr " 450px
    "1fr " 450px
    "1fr" 450px
    "1fr " 450px
    "1fr " 450px
    "1fr" 450px
    "1fr" 450px
    "1fr " 450px
    "1fr " 450px
    "1fr" 450px
    "1fr" 450px
    "1fr" 450px ;
  } 
  
}
@media only screen and (max-width:460px){

  .container1 {
    margin-left: 16px;
  }
}

@media only screen and (max-width:388px){
	.container1 {
		margin-left: 15px;
	}
}


@media only screen and (max-width:320px){
	.container1 {
		margin-left: 20px;
		
	}
}